body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }

html {
    scroll-behavior: smooth;
  }




/*MAIN CONTAINER*/
.main-container {
    position: relative;
        max-width: 1344px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 15vw);
    }
    


/* TOP NAVIGATION*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    color: #3a3a3a;
    overflow: hidden;
    margin-right: 160px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #3a3a3a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    
    color: rgb(44, 44, 44);
    border-bottom: 2px solid #212121;
    transition: all 2s;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    
    color: rgb(46, 46, 46);
    border-bottom: 1px solid #adadad;

  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  


/*TITLE*/

.title {
    margin-right: 160px;
    padding-top: 15px;
    height: fit-content ;
    min-height: 20vh ;
    display: flexbox ;
    align-items: center;
    justify-content: left;
    font-size: 15px ;
    border-bottom: 0.3px solid #e0e0e0;
}







/*SIDENAV*/
  * {
    box-sizing: border-box
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  .side-bar {
    width: 160px;
    height: 100vh;
    right: 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  nav ul {
    padding: 0;
  }
  
  nav li {
    list-style: none;
  }
  
  nav li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-weight: 400;
    transition: all ease-out 
      250ms;
    padding: 3px;
  }
  
  nav li a:hover {
    color: rgb(25, 22, 187);
  }


  /*MAIN CONTENT*/
  .main-content {
    margin-right: 160px;
    
  }
  
  section {
    height: auto;
    margin:0;
   
  }
  
  section:nth-of-type(2n) {
    background-color: #ffffff00;
  }
  
  section:last-of-type {
    height: auto;
  }
  
  h1 {
    color: #444;
    font-weight: 600;
  }
  
  .active {
    color: rgb(19, 48, 145); 
    font-weight: 600;
  }



/*RESPONSIVE ACTIONS*/


/*Responsive MAIN CONTAINER*/
@media screen and (max-width: 600px) {
    .main-container {
    position: relative;
        max-width: 1344px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 4vw);
    }
}
/*Responsive TITLE*/
@media screen and (max-width: 600px) {
.title {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
    height: fit-content;
    min-height: auto ;
    display: flexbox ;
    align-items: center;
    justify-content: left;
    font-size: 15px ;
    
}
}

 /*Responsive MAIN CONTENT*/
 @media screen and (max-width: 600px) {
    .main-content {
       margin-right: 0;
     }
     section {
     padding:1.5rem 2rem;
     }
   }




  /*RESPONSIVE - TOPNAV*/
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
  

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav {
      position: relative;
      margin-right: 0;
    }
    .topnav a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav a {
      float: none;
      display: block;
      text-align: left;
    }
  }


/*RESPONSIVE - SIDEBAR*/

  @media screen and (max-width: 600px) {
    .side-bar  {
    position: relative;
    height: auto;
    margin-left: 2rem;

  }
 
}

/*TITLE*/
@media screen and (max-width: 600px) {
    .title {
        margin-right: 0;
      }
    }
    
    
