<div class="container">
    <div class="secondary-navigation__inner">
                      <ul class="secondary-navigation__list">
                      
            <li class="secondary-navigation__item">
            </li>
                  </ul>
            
<div class="language-toggle language-toggle--active" data-language-toggle="">
  <div class="language-toggle__button-link">
    <div>
      <span class="sr-only" lang="en">
        Current language is English
      </span>
      <span aria-hidden="true">
        en
      </span>
    </div>
    <button class="language-toggle__button" aria-label="Open language menu" aria-controls="language-menu" aria-expanded="true" role="button" type="button" data-language-toggle-btn="">
      <svg width="24" height="24" class="language-toggle__icon" aria-hidden="true">
        <use xlink:href="#icon-chevron-down"></use>
      </svg>
    
  </button></div>
  <ul class="language-toggle__menu">
          <li>
        <a href="/" class="language-toggle__link">
          <span class="sr-only" lang="nl">
            Nederlands
          </span>
          <span aria-hidden="true">
            nl
          </span>
        </a>
      </li>
          <li>
        <a href="/en" class="language-toggle__link">
          <span class="sr-only" lang="en">
            English 
          </span>
          <span aria-hidden="true">
            en
          </span>
        </a>
      </li>
      </ul>
</div>
    </div>
  </div>
