<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
     <div class="image_header_en"> <a href="https://www.solidcommunity.nl"><img src="/img/logo-white.svg" alt="logo"></a></div> 
        
       <!--{%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}-->
        
      
      </div>
      <div class="footer-col">
       <!--<p>{{ site.description | escape }}</p>-->
           {%- for path in page_paths -%}
          {% unless page.exclude %}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a><br>
            {%- endif -%}
             {% endunless %}
          {%- endfor -%}
      </div>
    </div>

    <div class="social-links">
      <a class="page-link" href="https://www.linkedin.com/company/stichting-solid-community" style="text-align: right;">LinkedIn</a>
    </div>

  </div>

</footer>
