---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/*PROJECTblokken*/

.wrapperprojects {
display: flex;
flex-direction: column;
height: auto;
z-index:1;
border: 1px solid #d6d6d6;
border-radius: 25px;
padding: 10px;
margin-bottom: 50px;
}

.projectblock {
height:auto;
display: flex;
flex-direction: row;
position:relative;
justify-content: space-between;
align-items: center;
padding: 0px;
min-height: 200px;
}

.projectblock .project_text {
float: left;
width: 50%;

  }

.projectblock img {
  float: right;
 width: 50%;
  height: 144px;
  width: 144px;
 margin-left: 10px;
    }


/*RESPONSIVE ACTIONS*/

  
/*Responsive PROJECTS*/
@media screen and (max-width: 900px) {
.wrapperprojects {
display: flex;
flex-direction: column;

}


.video_side_by_side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

}
@media screen and (max-width: 600px) {

  .projectblock {
    height:auto;
    display: flex;
    flex-direction:column;
    position:relative;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    }


.projectblock .project_text {
  order: 1;
  width: 75%;
    }

.projectblock img {
      order: 2;
      height: 90px;
      width: 100px;

      object-fit: cover;
  
      margin-left: 5px;
      
      }
}



/* video no spinning at load */
video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}

.video_side_by_side{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

