---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$color_1: blue;

.page_heading {
	text-align: center;
	justify-content: left;
	align-items: center;
	font-size: 12px;
	margin-left: 2vw;
	margin-right: 2vw;
	color: $color_1;
	h1 {
		font-size: 18px;
		color: $color_1;
	}
	h3 {
		font-size: 14px;
		color: $color_1;
	}
}
