<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
<div class="header">
      <div class="image_header">
        <img src="img/logo.png" alt="logo">
      </div>
      <div class="text_header">
        <h1>Solid Community - Nederland</h1>
        <h3>Samenwerken aan een veiliger, vriendelijker en innovatiever web</h3>
      </div>
    </div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
