.soap_mainscreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  }
  
  .soap_header {
    width: 100%;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90px;
  }
  
  .soap_image {
    height: 10vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
    /*border: 2px solid darkgrey;*/
  }
  .soap_image img {
    height: auto;
    width: 80%;
    object-fit: contain;
    margin-right: 5px;
  }
  
  .soap_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 80%;
    border: 1px solid rgb(128, 0, 85);
  }
  
  .soap_title h1, h2, h3, p {
    margin: 0
  }
  
  .soap_title h2,h3 {
  color: rgb(80, 80, 80);
  }
  
  @media screen and (max-width: 500px) {
    .soap_title h2,h3, p {
      font-size: 12px;
      }
    }
  
/*  #other_app {
    background-color: #c0c5c9; 
    border-radius: 10px;
  }
 
/* This only affects class with the following id

  #soap_item_empty.soap_item_image  {
    height: 80px;
    width: 80px;
    object-fit: contain;
    align-content: start;
    justify-content: center;
    background-color: #d2e9ff;
    border: 2px solid #cab7ff;
    border-radius: 15px;
  }
  
  #soap_item_empty.soap_item_image img {
    height: 76px;
    width: 100%;
  display: flex;
  justify-content: center;
  align-content: start;
  }
  
*/
  


  
  
  #fadein {
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }
  