h1{
  font-size: 28px;
}

.total_app {
height: 100vh;
width: 100vw;
background-color: rgb(255, 255, 255);
display: flex;   
justify-content:flex-start;
align-items:center;
flex-direction: column;
}

.app_guide {
background-color: rgb(255, 255, 255);
width: 100%;
/*height: 10vh;*/
justify-content: center;
align-items: center;
display: flex;
}

.app_topscreen{
border-color: dimgray;
border: 1px solid;
background-color: rgb(255, 255, 255);
height: 50px;
width: 100%;
border-bottom: 0;
display: flex;
justify-content: center;

}

.app_url{
border-color: rgb(255, 255, 255);
border: 0px solid;

padding-left: 15px;
margin: 5px;
margin-left: 15px;
border-radius: 25px;
width: 100%;
background-color: rgb(241, 241, 241);
display: flex;
justify-content: left;
align-content: center;
align-items: center;

}
.app_url p{
margin: 0 ;
  }


.app_mainscreen{
  
display: flex;
justify-content:flex-start;
align-items:center;
flex-direction: column;
height: 100%;
width: 100%;
border: 1px solid;
border-color: dimgray;
/*border: 1px solid rgb(128, 0, 85);*/
}

.header_app_mainscreen{
  height: 50px;
  background-color: #b1d9ff;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.header_app_mainscreen h2 {
 margin: 0;
 font-size: 16px; 
 color: rgb(80, 80, 80);
}


.datavault_total { /**/
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  width: 100%;
 /* border: 1px solid rgb(128, 0, 85);*/
}

.datavault_text{
  width: 30%;
 /* border: 1px solid rgb(128, 0, 85);*/
}
.datavault_text h2{
  margin: 0;
  font-size: 16px;
}

.datavault_image {
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: center;
 /* border: 1px solid rgb(128, 0, 85);*/
}

.datavault_image img{
  display: block;
  width: 30%;
  height: 80%;
 /* border: 1px solid rgb(128, 0, 85);*/
}

.soap_total { /**/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  width: 100%;
/*  border: 1px solid rgb(128, 0, 85);*/

}

.soap_text{
  width: 30%;
/*  border: 1px solid rgb(128, 0, 85); */
}

.soap_text h2{
  margin: 0;
  font-size: 16px;
}

.soap_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content:center; /*stond eerst op space-evenly*/
  align-content: space-evenly;
  
  height: auto;
  width:80%;
  background-color: rgb(255, 255, 255);
 /* border: 1px solid rgb(128, 0, 85);*/
  
}

.soap_wrap a{
  text-decoration: none;
}

.soap_item {
  height: auto;
  width: 80px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  /*justify-content: center;*/
  text-align: center;
  justify-self: center;
  /*border: 1px solid rgb(128, 0, 85);*/
}

.soap_item a{
text-decoration: none;

}

.soap_item_image {
  height: 80px;
  width: 100%;
display: flex;
justify-content: center;
align-content: start;
background-color: #b1d9ff;
border-radius: 10px;
}

.soap_item_image img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  align-content: start;
  justify-content: center;
}

.soap_item_text {
  height: auto;
  width: 80px;
  font-size: 16px;
  
  }
  
  .soap_item_text p {
    text-decoration: none;
    margin: 0;
    font-size: 14px;
  }

  #soap_item_empty.soap_item_image  {
    height: 80px;
    width: 80px;
    object-fit: contain;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #d2e9ff;
    border-radius: 15px;
  }
#soap_item_empty.soap_item_image img {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  }  





@keyframes highlight {
    0% {
      background-color: rgb(117, 214, 149);
      border-color: rgb(117, 214, 149);
      border-radius: 15px;
    }
    100% {
      background-color: #b1d9ff;
      border-radius: 15px;
    }
  }
#app_just_installed{
    animation: 2s ease-out 0s 1 highlight;
}


/* in other html*/

.iframe_app {
min-height: 80vh;
width: 100%;
    border: 0;
    background-color: rgb(255, 255, 255);
}


@media screen and (max-width: 500px) {
h1{
  font-size: 24px;
}

h2{
  font-size: 22px;
}

  .soap_total {
    flex-direction: column;
    align-items: center;
  }
  .datavault_total {
    flex-direction: column;
  }
 
  .soap_total h2{
    font-size: 14px;
    text-align: center;
  }
  .datavault_total h2{
    font-size: 14px;
    text-align: center;
  }
.datavault_text{
  width: 80%;
}

  .soap_text{
    width:80%;
  }
  .soap_item_text p{
    text-decoration: none;
    margin: 0;
    font-size: 12px;
   
  }
}


@media screen and (max-width: 500px) {
.app_url{
  font-size: 12px;
  align-self: center;
  height: 70%;
  overflow: hidden;
}
.app_url p{
  padding: 0px;
  margin: 0px;
}
}
@media screen and (max-width: 500px) {
.datavault_total img{
  height: 95px;
  width: auto;
}

#soap_item_empty.soap_item_image  {
  height: 80px;
  width: 80px;
  object-fit: contain;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #d2e9ff;
  border-radius: 15px;
}

#soap_item_empty.soap_item_image img {
height: 40px;
width: 100%;
display: flex;
justify-content: center;
align-content: center;

}


}




 /* 
.select_aiapp_total {
width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-content: center;
border: 1px solid rgb(128, 0, 85);

}
.select_aiapp_total div {
  border: 1px solid rgb(128, 0, 85);
  
}


.select_aiapp_total a{
text-decoration: none;
}

*/